<legend>Form Elements</legend>
<div class="btn-toolbar" style="margin: 5px;">              
  <div class="btn-group">
  	<button class="btn btn-primary" ng-click="addItem('input');" tooltip-placement="bottom" tooltip="{{listItemMarkup['input'].tooltip}}"><i class="icon-pencil icon-white "></i>Input</button>
  </div><!-- /btn-group -->
  
  <div class="btn-group">
    <button class="btn btn-danger" ng-click="addItem('select');" tooltip-placement="bottom" tooltip="{{listItemMarkup['select'].tooltip}}"><i class=" icon-th-list icon-white "></i>Select</button>        
  </div><!-- /btn-group -->
  
  <div class="btn-group">
    <button class="btn btn-warning" ng-click="addItem('option');" tooltip-placement="bottom" tooltip="{{listItemMarkup['option'].tooltip}}"><i class=" icon-hand-up icon-white "></i>Option</button>
  </div><!-- /btn-group -->
  
  <div class="btn-group">
    <button class="btn btn-success" ng-click="addItem('date');" tooltip-placement="bottom" tooltip="{{listItemMarkup['date'].tooltip}}"><i class=" icon-calendar icon-white "></i>Date</button>
  </div><!-- /btn-group -->
</div>