<div class = "row">	 
	 <div class = "span12">
	 	<div>
	 		<input ng-show="editMode" ui-keypress="{enter: 'editMode=false;'}" dbBlur="alert('Blur')" ng-model="appTitle" type="text"/>
	 		<h1 ng-show="!editMode" ng-click="editMode=true;">{{appTitle}}</h1>
	 	<button class="btn btn-primary cancel pull-right" ng-click="saveForm()" style="margin-bottom:30px;">Save Form</button>
	 	
	 	</div>
	 	
	 
	 	<div ng-show="false">
			<select ui-select2 ng-model="framework" ng-change="onFrameworkChange()" data-placeholder="-- Select Framework --" style="width:200px">
		    		<option></option>
		    		<option ng-repeat="item in frameworks" value="{{item.template}}" >{{item.name}}</option>
		  	</select>	
		</div>
	 </div> 
	
	 <div class = "span6"> 	
		<div class = "appOptions">
			<label class="checkbox">
		      <input type="checkbox" ng-model="header"> Show Header
		    </label>
	    </div>
		<div ng-include="'/views/templates/buttonToolbar.html'"></div>	
		<ul ui:sortable="{update:update}" ng-model="widgets">
		<li ng-repeat="widget in widgets" ui-animate="{{widget}}">
			<div class="well well-small element" ><!--background:{{widget.color}};-->
			 <div class="row">	 		 
				 	<div class= "span6"> 		
				 			<div class="pull-left">
				 			<i class=" pull-left {{listItemMarkup[widget.dataType.group].icon}} itemBadge icon-white {{listItemMarkup[widget.dataType.group].color}}" ></i>
				 			<h4 class="listItemTitle">{{widget.data.title}}</h4>
				 			</div>
				 			<div class="pull-right" style="margin-right:40px">		 				
				 				<button class="btn btn-link pull-right" ng-click="removeItem($index)"><i class="icon-remove-sign"></i>Remove</button>
    								<button class="btn btn-link pull-right" ng-click="open(widget)"><i class="icon-wrench"></i>Edit</button>
    							</div>
					    <div ng-include="'views/templates/itemEditModal.html'"></div>
				 	</div>		 			   
			 </div>
	 	</div>	
		</li>
		</ul>
		<div id="content" style="visibility:hidden;" ng-bind-html-unsafe="updateHtml()"></div>		
		
	</div>
				
	 <div class = "span6">
		<!-- <textarea>{{json()}}</textarea> -->
			 <!-- Maybe use hammer.js to track touch movements -->		
		<div class="appFrame"><iframe id="1" class="demoScreen" src="/ws/apptemplate"></iframe></div>
	</div>
	
	<script>
		var demoDevice = document.getElementById('1').contentWindow;
		function changeTitle(title){
			document.getElementById('1').contentWindow.jQuery('#pageTitle').html(title);
		}
		
		function changeContent(content){
			document.getElementById('1').contentWindow.jQuery('#content').html(content);
			document.getElementById('1').contentWindow.jQuery('#content').trigger( "create" );
		
		}
		
		function changeCss(content){
			document.getElementById('1').contentWindow.jQuery('#iframe-css').attr('href',content);
			
		//<style id="iframe-css" type="text/css"></style>
		
		}
		
		function getHtml(){		
			var html = $('#1').contents().find("html").html();
			console.log(html);
		}
		
		function put(){
			var html = $('#textInput').html();
			demoDevice.dstyle.add('Theme2.css','css');
		}
		
		
	</script>
<div ng-include src="'data/widgetMarkup.html'"></div>
<div ng-include src="'data/scriptMarkup.html'"></div>

</div>